ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
}

a:hover {
  background-color: #ddd;
}

.horizontal-menu {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px; /* Add space between the menu items */
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.location-info {
  padding-right: 30px;
}

.horizontal-menu li {
  display: inline; /* Ensure list items are displayed inline */
}

.horizontal-menu a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

/* Active (Selected) Tab - Stronger Gray */
.horizontal-menu a.active-link {
  background-color: black; /* Strong gray */
  color: white;
  font-weight: bold;
}

/* Hover - Lighter Gray */
.horizontal-menu a:hover {
  background-color: #e0e0e0; /* Light gray */
  color: #000;
  cursor: pointer;
}


